*{
	margin: 0; 
	border: 0;
}
body{
	background-color: #C1C4C0; 
	position: relative;
}
nav{
	background-color: #364C31; 
	padding: 20px;
}
li{
	list-style: none; 
	display: inline-block;
	transition: all 1s;
}
li:hover{
	background-color: #C1C4C0;
}
a{
	text-decoration: none; 
	color: #ffffff; 
	padding: 20px;
}
h1{
	color: #ffffff; 
	font-size: 60px; 
	padding: 20px; 
	text-align-last: center; 
	font-family: 'Roboto', sans-serif;
}
.contenedor{
	width: 80%; 
	margin: auto; 
	display: flex; 
	justify-content: space-between;
}
img{
	width: 500px;
	transition: all 1s;
}
img:hover{
    filter: blur(5px);
}
h2{
	text-align-last: center; 
	margin: auto; 
	background-color: rgba(250, 250, 250, .5); 
	width: 350px; 
	padding: 10px;
}
div.imagenes{
	width: 70%; 
	right: 0; 
	left: 0; 
	margin: auto; 
	display: flex; 
	justify-content: space-around;
}
div.imagenes img{
	width: 40%; 
	height: 160px; 
	margin: 15px;
}
footer{
	width: 100%; 
	display: flex; 
	justify-content: center; 
	justify-content: space-around; 
	align-items: center;
    position: absolute; 
    bottom: 1; 
    background-color: #2F422A; 
    padding: 20px 10px;
}
footer div.copy{
	color: white; 
}
footer div.copy p{
	padding: 15px 5px; 
	font-size: 20px;
}
footer div.redes a{
	color: white; 
	padding: 0px 12px; 
	text-decoration: none; 
	font-size: 20px;
}
div.noticias{
	display: flex; 
	justify-content: center; 
	justify-content: space-around; 
	flex-wrap: wrap; 
	align-items: center; 
	margin-top: 50px; 
	margin-bottom: 50px;
}
div.noticias div{
	width: 300px;
}
div.noticias div div.desc{
	background-color: #ffffff; 
	padding: 10px;
}
div.noticias div img{
	width: 100%; 
	position: relative;
	transition: all 1s;
}
div.noticias div img:hover{
	filter: contrast(50%);
	transform: translate(0%, -10%);
}
div.noticias div h1{
	font-size: 20px; 
	color: #000; 
	margin-top: 0; 
	margin-bottom: 10px;
}


